<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample HTML</title>
</head>
<body>

<h1>Heading</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/>
    In eget arcu rhoncus, placerat risus ut, pellentesque tortor.<br/>
    Nam sit amet lacinia turpis, sit amet auctor sem. Quisque id congue augue.<br/>
    Cras sagittis mi non vehicula eleifend.<br/>
    Cras et efficitur dolor.<br/>
    Pellentesque faucibus eleifend tristique.<br/>
</p>

</body>
</html>